.index-container {
    margin-top: 80px;
    padding: 35px;
    min-height: 88vh;
}

.chart-container {
    display: flex;
    justify-content: space-around;
}

.half-width {
    width: 40vw;
    margin: 20px;
}