.index-container {
    margin-top: 80px;
    padding: 35px;
    min-height: 88vh;
}

.chart-container1 {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 48vw;
    margin: 20px 0;
}

/* Desktop */
@media only screen and (min-width: 768px) {
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .index-container {
        margin-top: 80px;
        padding: 35px 5px;
        min-height: 88vh;
    }

    .chart-container1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .half-width {
        width: unset;
        margin: 10px 0;
    }

    .highcharts-container {
        border-bottom: 2px solid #ccc;
    }
}
