{{page-title "Frontend"}}

{{!-- The following component displays Ember's default welcome message. --}}
<a href="/tickets" target="_self">My tickets</a>
<a href="/tickets/new" target="_self">Create Ticket</a>
<Header/>
{{!-- Feel free to remove this! --}}

{{outlet}}