<div class="header">
    <a href="/"> 
        <span class="header-logo"></span>
    </a> 

    <ul class="nav-bar poppins-regular">
        <li class="nav-links"><a href="/dashboard">Dashboard</a></li>
        <li class="nav-links"><a href="/tickets">My Tickets</a></li>
        <li class="nav-links">
            <a href="/tickets/new"> 
                <button class="create-ticket" id="create">Create Ticket</button>
            </a>
        </li>
    </ul>
    <ul class="nav-bar poppins-regular align-end">
        <li class="nav-links">
            <input type="text" name="search" id="search" class="search-ticket" placeholder="Search Ticket">
        </li>
        <li class="nav-links">
            <select name="lang" id="language-select" class="poppins-regular">
                <option value="en-us">English (US)</option>
                <option value="fr-fr">French</option>
            </select>
        </li>
        <li class="nav-links user-container">
            
            <img alt="User Image" class="user-account" src="images/user.png">
            <label title="Welcome" class="pointer">Welcome!</label>
        </li>
    </ul>
</div>