/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
 }

body {
  background-color: white;
  color: black;
}

/* Dark theme */
body.dark-mode {
  background-color: #2C2C2C;
  color: white;
}
.bold {
  font-weight: bold;
}

.hide {
  display: none !important;
}

.pointer, .pointer *{
  cursor: pointer;
}

.mandatory::after{
  content: " *";
  color: red;
}
.poppins-regular,.poppins-bold,.poppins-black,.poppins-regular-italic,.poppins-bold-italic,.poppins-black-italic {
  font-family: "Poppins", sans-serif;
}

.poppins-regular,.poppins-bold,.poppins-black {
  font-style: normal;
}
  
.poppins-regular-italic,.poppins-bold-italic,.poppins-black-italic {
  font-style: italic;
}

.poppins-regular {
  font-weight: 300;
}

.poppins-bold {
  font-weight: 500 !important;
}

.poppins-black {
  font-weight: 700 !important;
}

.poppins-regular-italic {
  font-weight: 300;
}

.poppins-bold-italic {
  font-weight: 500;
}

.poppins-black-italic {
  font-weight: 700;
}

.font40 {
  font-size: 40px;
}

.font17 {
  font-size: 17px !important;
}

.right{
  float: right;
}

.root-container {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.header {
  padding:15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  position: fixed;
  top:0;
  width: 100%;
  background-color: #e3f2fd; /*beige for dark #f9f3e5; soft blue #e3f2fd*/
  color: #000 ;
  height: 78px;
}

.dark-mode .header{
  background-color: #f9f3e5; /*beige for dark #f9f3e5; soft blue #e3f2fd*/
}

.header-options {
  background-color: inherit;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  display: inline-block;
  background: url("https://dam.freshworks.com/m/1d230ee78c07681a/original/headerLogoLight.webp") no-repeat center;
  width: 150px;
  height: 40px;
  background-size: contain !important;
  margin: 0 auto;
  margin-left: 20px;
}

ul.nav-bar {
  list-style-type: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

ul.nav-bar li {
  display: inline-block;
  margin: 0 10px;
  height: 100%;
}

.nav-links a {
  padding: 0 5px;
  text-decoration: none;
  color:inherit;
}

.nav-links.active {
  color:#30b6f8;
}

.nav-links:hover {
  color:#30b6f8;
}

.create-ticket {
  background-color: #30b6f8;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-ticket:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-ticket {
  padding: 10px;
  border: 0px;
  border-bottom: 2px solid #ccc;
  background-color: inherit;
  width: 15vw;
  min-width: 200px;
}

.search-ticket::placeholder {
  font-family: "Poppins", sans-serif;
  color: inherit;
  font-style: normal;
  font-weight: 300;
}

.language-select {
  background-color: inherit;
  color: inherit;
  outline: none;
}

.nav-links select, .nav-links select * {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.align-end {
  margin-left: auto !important;
}

.user-account {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain !important;
  margin: auto;
}

.user-container img, .user-container .pointer {
  vertical-align: middle; 
}

.user-panel {
  position: relative;
}

.user-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 10;
}

.user-panel:hover .user-dropdown {
  height: auto; 
}

.user-logout{
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.user-logout .fa{
  margin: 0 5px;
}

.footer {
  padding: 15px;
  background-color: #36454f; /*#282C35*/  
  color: #fff;
}

ul.nav-bar li .search-item {
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid #ccc;
}

.search-item i {
  color: #aaa;
}

.mobile-view {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .mobile-view{
      display: unset !important;
  }
  .header{
    justify-content: unset;
  }
  .header .header-options{
    flex-direction: column;
    align-items:flex-start;
    justify-content: unset;
    position: absolute;
    margin: 0px 1px;
    padding: 0px 10px;
    top:78px;
    left:0;
    bottom: 0;
    right: 0;
    width: 99vw;
    height: 0;
    z-index: 100;
    overflow: hidden;
  }

  .header .header-options.show-header {
    height: 88vh;
  }

  .header ul.nav-bar {
    margin: 0;
    flex-direction: column;
    width: 100%;
  }


  .align-end {
    margin-left: 0 !important;
  }

   ul.nav-bar li {
    display: block;
    width: 100%;
    margin: 5px 10px;
  }

  .create-option {
    display: none !important;
  }

  ul.nav-bar li .search-item {
    width: 90%;
  }

}