// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ticket-container,.myTicket-container{
    margin: 90px 0;
}

.myTicket-container {
    padding: 35px;
    min-height: 80vh;
}

.myTicket-table {
    margin-top: 20px;
    width: 100%;
    border-spacing: 0;

    th,td {
        text-align: left;
        padding: 8px !important;
    }

    a {
        color: inherit;
        margin: 0 5px;
    }
}

.myTicket-table > tbody > tr:nth-of-type(odd) {
    background-color: #F5F5F5 ;
  }

.ticket-form,.main-container,.right-panel {
    padding: 0 20px;
    margin: 0 auto;

    .heading {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .field {
       
        label {
            display: block;
            font-weight: 400;
            margin: 8px 0;
        }
    }

    select, input[type=text], input[type=number], input[type=date], textarea {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 300;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    select {
        min-width: 250px;
    }

    input.ticket-summary, textarea {
        width: 100%;
    }

    textarea {
        height: 100px;
    }

    input[type=text], input[type=number] {
        min-width: 250px;
    }
}

.ticket-form {
    padding: 20px;
    width: 50vw;
    border: 2px solid #ccc;
    border-radius: 7px;
}

.view-form {
    padding-left: 35px;
    min-height: 80vh;

    .field .product-label {
        font-size: 13px;
        font-weight: 500;
        display: inline-block;
        &:after {
            content: ' /';
        }       
    }
    .ticket-summary,.ticket-edit {
        margin-bottom: 10px;
    }
    .ticket-edit {
        font-size: 1.2em;
        width: 100%;
        outline: 1px solid #ccc;
    }

    .view-container {
        display: flex;
        width:100%;

        .editable {
            cursor: pointer;
            .fa {
                display: none;
                font-size: inherit;
                margin-left: 5px;
            }

            &:hover {
                .fa {
                    display: unset;
                }
            }
        }

        .main-container {
            width:70%;
            margin-right: 5px;

            .desc-label {
                margin-top: 30px;
            }

            .view-description{
                min-height: 30vh;
            }
        }
        .right-panel {
            width:30%;

            .options-table {
                width: 90%;
                margin: 15px auto;

                td {
                    padding: 5px;
                }
            }

            .details-view {
                border: 2px solid #eee;
                border-radius: 3px;

                label {
                    display: initial;
                }
            }

            .field {
                margin: 10px;
            }

            .details-header {
                padding: 7px;
                background-color: #eee;
            }

            .status-panel {
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                label,select{
                    min-width: 100px;
                }

                label {
                    border: 2px solid #ddd;
                    width: 150px;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: #ddd;
                    &:before{
                        content: 'v';
                        float: right;
                    }

                }
            }
        }
    }
}


