// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ticket-container,.myTicket-container{
    margin: 90px 0;
}

.myTicket-container {
    padding: 35px;
    min-height: 80vh;

    .total-tickets{
        display: inline-block;
        margin: 25px 0;

        b {
            font-weight: 600;
        }
    }
}

.myTicket-table {
    margin-top: 20px;
    width: 100%;
    border-spacing: 0;

    th,td {
        text-align: left;
        padding: 8px !important;
    }

    a {
        color: inherit;
        margin: 0 5px;
    }
}

.myTicket-table > tbody > tr:nth-of-type(odd) {
    background-color: #E5E5E5 ;
  }

 .dark-mode .myTicket-table > tbody > tr:nth-of-type(odd) {
    background-color: #444 ;
  }

.ticket-form,.main-container,.right-panel {
    padding: 0 20px;
    margin: 0 auto;

    .heading {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .field {
       
        label {
            display: block;
            font-weight: 400;
            margin: 8px 0;
        }
    }

    select, input[type=text], input[type=number], input[type=date], textarea {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 300;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    select, input[type=text], input[type=number]{
        min-width: 250px;
    }

    input.ticket-summary, textarea {
        width: 100%;
    }

    textarea {
        height: 100px;
    }
}

.ticket-form {
    padding: 20px;
    width: 50vw;
    border: 2px solid #ccc;
    border-radius: 7px;
}

.view-form {
    padding-left: 35px;
    min-height: 80vh;

    .field .product-label {
        font-size: 13px;
        font-weight: 500;
        display: inline-block;
        &:after {
            content: ' /';
        }       
    }
    .ticket-summary,.ticket-edit {
        margin-bottom: 10px;
    }
    .ticket-edit {
        font-size: 1.2em;
        width: 100%;
        outline: 1px solid #ccc;
    }

    .view-container {
        display: flex;
        width:100%;
        

        .tickets-panel {
            border-bottom: 2px solid #ccc ;
            padding: 20px 0;
            
            .tickets-label {
                display: inline-block;
                margin: 0 5px;
            }

            .fa {
                font-size:larger ;
            }
        }

        .editable {
            cursor: pointer;
            .fa {
                display: none;
                font-size: inherit;
                margin-left: 5px;
            }

            &:hover {
                .fa {
                    display: unset;
                }
            }
        }

        .main-container {
            border-radius: 10px;
            border: 2px solid #eee;
            width:70%;
            margin-right: 5px;

            .desc-label {
                margin-top: 30px;
            }

            .view-description{
                min-height: 30vh;
            }

            .view-comments {
                margin: 10px 0;
                .icon-panel {
                    width: 10%;
                    text-align: center;
                    vertical-align: top;
                    padding-top: 10px;

                    i {
                        padding: 5px 7px;
                        background-color: #ccc;
                        border-radius: 50%;
                    }
                }
            }

            .comments-dummy-panel {
                display: flex;
                background-color: #D5D5D5;
                border-radius: 5px;
                padding: 10px;
                

                .fa,.dummy-comments {
                    background-color: #FFF;
                    color: #444;
                    padding: 5px;
                    border-radius: 5px;
                    margin: 0 auto;
                }

                .fa {
                   margin-right: 5px;
                }
                .dummy-comments {
                    border: none;
                    font-size: inherit;
                    width: 97%;
                    text-align: left;
                    padding-left: 10px;
                    cursor: text;
                }
                
            }
        }

        .right-panel {
            width:30%;
            background-color: inherit;

            input, select {
                cursor: pointer;
            }

            .options-table {
                width: 90%;
                margin: 15px auto;

                td {
                    padding: 5px;
                }
            }

            .details-view {
                border: 2px solid #eee;
                border-radius: 3px;

                label {
                    display: initial;
                }
            }

            .field {
                margin: 10px;
            }

            .details-header {
                padding: 7px;
                background-color: #eee;
                color: #444;
            }

            .status-panel {
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                label,select{
                    min-width: 100px;
                }

                label {
                    padding: 5px;
                }
            }
        }
    }
}


.dark-mode {
    .ticket-container {
        input {
            &:disabled {
                color: inherit;
                opacity: 0.75;
                cursor: not-allowed;
            }
        }
    }
}

/*============ rwd ======== */
//desktop
@media only screen and (min-width: 768px) {
    .actions {
        margin-top: 20px;
    }
}

//mobile
@media only screen and (max-width: 767px) {
  .myTicket-table-wrapper {
    margin-top: 15px;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
  }

  .myTicket-table {
    th, td {
      white-space: nowrap; 
      padding: 5px;
    } 
  }
  .myTicket-container {
    padding: 10px;
    min-height: 70vh;
  }

.ticket-form,.view-form {
    width: 98vw;
    border: none;

    select,input[type=text], input[type=number] {
        width: 100%;
    }

    input.ticket-summary, textarea {
        width: 100%;
    }
    .actions{
        input[type=submit] {
            margin-top: 15px;
            position: fixed;
            left: 2px;
            right: 2px;
            bottom: 0px;
        }
    }
  }
  .view-form {
    padding: 0 5px;

    .view-container {
        flex-direction: column;
        width: 100%;

        .main-container, .right-panel {
            width: 100%;
            margin: 0; 
            border: none; 
            padding: 0 3px;
        }
        
        .main-container {
            margin-bottom: 5px; 
            border-bottom: 2px solid #ccc;
            border-radius: 0;

            .tickets-panel {
                padding: 15px 0; 
                text-align: center;
            }

            .view-description, .view-comments, .comments-dummy-panel {
                min-height: auto;
            }
        }

        .right-panel {

            .status-panel {
                flex-direction: column;
                align-items: stretch;
                label, select {
                width: 100%;
                margin-bottom: 10px;
                }
            
                .create-ticket {
                width: 100%;
                margin-top: 10px;
                }
            }

            .options-table {
                width: 97%;
                td {
                    display: block;
                    width: 100%;
                    }
            }
        }
    }
  }
}